<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldhandm.dao.CategoryDao">

	<select id="get" resultType="com.goldhandm.entity.Category">
		select * from Note where id=#{id}; <!-- cf)${id}:무조건 값으로''이게 안들어감. -->
	</select>
	
	<insert id="insert" parameterType="com.goldhandm.entity.Category">
		insert into Note(title, content, writerId)
		values(#{title},#{content},#{writerId})
	</insert>


</mapper>